.header {
    margin-top: 93px;
    font-weight: 700;
    font-size: 72px;
    line-height: 104%;
    text-align: center;
    text-transform: uppercase;
    color: #162C4E;
    opacity: 0.39;
    &-events {
        margin-top: 0px;
    }
}